{% extends "layout.html" %}
{% block body %}
    <h2>All Terms</h2>
    <table class="admin-terms-table">
        {% for term in terms %}
            <tr>
                <td><strong>{{ term.name }}</strong></td>
                <td>{{ term.description|truncate(120) }}</td>
                <td><a href="{{ url_for('terms_view', id=term.id) }}">View</a></td>
                <td><a href="">Edit</a></td>
                <td><a href="{{ url_for('admin_terms_delete', id=term.id) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>New Term</h2>
    <a href="{{ url_for('admin_terms_create') }}">New Term</a>
{% endblock %}