{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block body %}
<input type="text" id="terms-searchbox" class="terms-searchbox" placeholder="Enter a term">

<div class="terms-container">
</div>

<div class="intro-text">
    <h2>Header header header</h2>

    <p><strong>Try it out</strong> -- Enter the name of a programming language, operating system, library, or other technical concept and we'll show you how to pronounce it. You can also <a href="{{ url_for('terms_all') }}">view a list of all terms</a>.</p>

    <br>

    <p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p>

    <p> And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.</p>
</div>
{% endblock %}