<!DOCTYPE html>
<html lang="en">
<head>
    <title>Query</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="page-container">
        <div class="header">
            <h1><a href="/">Query</a></h1>
        </div>
        {% if g.username %}
            <div class="user-bar">Hello, {{ g.username }} | <a href="{{ url_for('admin_index') }}">Admin</a> | <a href="{{ url_for('logout') }}">Log out</a></div>
        {% endif %}
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            <p>Developers developers developers developers developers</p>
        </div>
    </div>
</body>
</html>
