{% extends "layout.html" %}
{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
{% block body %}
    <h2>Edit Term</h2>
    <form action="{{ url_for('admin_terms_edit', id=term.id) }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        {% if form.errors %}
            <div class="form-errors">
                <p>Some errors prevented this Term from being saved</p>
                <ul>
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-label">
            {{ form.name.label }}
        </div>
        <div class="form-field">
            {{ form.name }}
        </div>

        <div class="form-label">
            {{ form.description.label }}
        </div>
        <div class="form-field">
            {{ form.description }}
        </div>

        <div>
            {% for clip in term.clips.all() %}
                <div class="form-subform" data-role="admin-clip-container">
                    <audio controls>
                        <source src="{{ clip.url }}"></source>
                    </audio>
                    <br />
                    <a href="#" data-role="delete-clip" data-clip-id="{{ clip.id }}">Delete</a>
                </div>
            {% endfor %}
        </div>

        <div class="form-label">
            {{ form.create_clip_with_file.label }}
        </div>
        <div class="form-field">
            {{ form.create_clip_with_file }}
        </div>

        <input type="submit" value="Update Term" class="form-submit">
    </form>
{% endblock %}